<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/room.css">
    <title>Chat Home</title>
</head>
<body>
    <div class="content">
        <div>
            <p> <==Welcome to the Chatting Room==> </p>
            <form action="/room" method="post">
                <input type="text" placeholder="Enter your Name"      class = "username" name  = "username" required>
                <input type="text" placeholder="Enter your Room Name" class = "roomname" name  = "roomname" required>
                <input type="submit" value="Enter">
            </form>
        </div>
    </div>
</body>
</html>